/* -------------------------------------------------------------------------
  Basic element styles, generic across the whole page.
---------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  color: var(--page-text);
  background-color: var(--page-background);
  font-family: 'Open Sans', -apple-system, 'BlinkMacSystemFont', 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 23px;
  line-height: 1.2;
}

h2 {
  font-size: 25px;
  line-height: 1;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 19px;
  line-height: 1.2;
}

h4 {
  font-size: 14px;
  line-height: 1.2;
}

a {
  color: var(--link-text);
  text-decoration: none;
}

a:hover {
  color: var(--link-highlight);
}

strong {
  font-weight: 600;
}

small {
  font-size: 11px;
}

pre {
  border: 1px var(--code-snippet-border) solid;
  background-color: var(--code-snippet-background);
  color: var(--code-snippet-text);
  font-size: 14px;
  border-radius: 4px;
  padding: 15px;
  overflow: scroll;
}

blockquote {
  padding: 10px;
  border-left: 2px var(--grey) solid;

  p {
    margin: 0;
  }
}

hr {
  margin: 40px 0;
  border: 0;
  height: 2px;
  background-color: var(--rule-background);
}

section {
  margin: 35px 0;
}

main img {
  margin: 40px auto;
  display: block;
  max-width: 90%;
  box-shadow: 0px 3px 8px 2px rgba(100, 100, 100, 0.2);
}
