/* -------------------------------------------------------------------------
  Styles specific for blog posts or the blog layout in general.
---------------------------------------------------------------------------- */

:root {
  --post-rule: var(--light-grey);

  --what-is-background: var(--very-light-blue);
  --what-is-border: var(--mid-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --post-rule: var(--dark-grey);

    --what-is-background: var(--dark-blue);
  }
}

h2.post {
  margin-bottom: 0;

  a {
    color: var(--page-text);
  }
}

hr.post {
  margin: 5px 0 20px 0;
  height: 1px;
  background-color: var(--post-rule);
}

.what {
  margin-bottom: 40px;
  padding: 15px;
  border: 1px var(--what-is-border) solid;
  border-radius: 5px;
  background-color: var(--what-is-background);
}
