/* -------------------------------------------------------------------------
  Color variables for both light and dark mode.
---------------------------------------------------------------------------- */

/* Light mode base colors */

:root {
  --very-dark-blue: #111930;
  --dark-blue: #232339;
  --mid-blue: #356FCE;
  --light-blue: #BEDEFF;
  --very-light-blue: #E6F2FF;

  --dark-green: #027353;
  --mid-green: #038C33;
  --light-green: #68BB13;

  --yellow: #F2B94F;
  --orange: #F58E36;
  --mid-red: #CC4444;
  --light-red: #FFEEEE;

  --black: #1D1D1D;
  --very-very-dark-grey: #232323;
  --very-dark-grey: #2F2F2F;
  --dark-grey: #3E3E3E;
  --grey: #9A9A9A;
  --light-grey: #DADADA;
  --very-light-grey: #F1F1F1;
  --very-very-light-grey: #F8F8F8;
  --white: #FFFFFF;
}

/* Dark mode base color overrides */

@media (prefers-color-scheme: dark) {
  :root {
    --black: #070710;
    --very-very-dark-grey: #0E0E19;
    --very-dark-grey: #191923;

    --mid-blue: #55B7FF;
    --orange: #EC8329;
    --mid-red: #FF4343;
    --dark-red: #250201;
    --yellow: #FFB834;

    --mid-green: #0EBF4C;
    --light-green: #96FF4C;
    --dark-green: #0C946E;
  }
}

/* Light mode semantic colors */

:root {
  --page-background: var(--white);
  --page-text: var(--black);
  --link-text: var(--mid-blue);
  --link-highlight: var(--mid-red);

  --header-background: var(--very-dark-blue);
  --header-text: var(--white);
  --header-link-text: var(--white);
  --header-link-highlight: var(--yellow);

  --post-rule: var(--light-grey);

  --what-is-background: var(--very-light-blue);
  --what-is-border: var(--mid-blue);
}

/* Dark mode semantic color overrides */

@media (prefers-color-scheme: dark) {
  :root {
    --page-background: var(--black);
    --page-text: var(--white);

    --header-background: var(--very-dark-blue);

    --post-rule: var(--dark-grey);

    --what-is-background: var(--dark-blue);
  }
}
